@import url("font-awesome.min.css");
@import url("googlefonts.css");

/* General Stuff */

html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, em, img, strike, strong, b, u, i, center, ol, ul, li, form, label, legend, table, caption, tr, th, td, article, aside, canvas, figure, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

/* Content */

body {
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18pt;
  font-weight: 300;
  line-height: 1.75em;
  color: #888888;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #666;
  line-height: 1.5em;
}

h2 {
  font-size: 3em;
  letter-spacing: -1px;
}

strong, b {
  font-weight: 500;
  color: #666;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: dotted 1px rgba(128, 128, 128, 0.5);
  outline: 0;
}



header {
  margin: 0;
}

.content {
  margin-left: auto;
  margin-right: auto;
}

  /*Readjusting side menu and content ratio*/
  .content.\31 25\25 {
    width: 100%;
    max-width: 1750px;
    min-width: 1400px;
  }

  .content.\37 5\25 {
    width: 1050px;
  }

  .content.\35 0\25 {
    width: 700px;
  }

  .content.\32 5\25 {
    width: 350px;
  }

  .content {
		width: 1400px;
	}

  @media screen and (min-width: 961px) and (max-width: 1880px) {

		.content.\31 25\25 {
			width: 100%;
			max-width: 1500px;
			min-width: 1200px;
		}

		.content.\37 5\25 {
			width: 900px;
		}

		.content.\35 0\25 {
			width: 600px;
		}

		.content.\32 5\25 {
			width: 300px;
		}

		.content {
			width: 1200px;
		}

	}

	@media screen and (min-width: 961px) and (max-width: 1620px) {

		.content.\31 25\25 {
			width: 100%;
			max-width: 1200px;
			min-width: 960px;
		}

		.content.\37 5\25 {
			width: 720px;
		}

		.content.\35 0\25 {
			width: 480px;
		}

		.content.\32 5\25 {
			width: 240px;
		}

		.content {
			width: 960px;
		}

	}

	@media screen and (min-width: 961px) and (max-width: 1320px) {

		.content.\31 25\25 {
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.content.\37 5\25 {
			width: 75%;
		}

		.content.\35 0\25 {
			width: 50%;
		}

		.content.\32 5\25 {
			width: 25%;
		}

		.content {
			width: 100%;
		}

	}

	@media screen and (max-width: 960px) {

		.content.\31 25\25 {
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.content.\37 5\25 {
			width: 75%;
		}

		.content.\35 0\25 {
			width: 50%;
		}

		.content.\32 5\25 {
			width: 25%;
		}

		.content {
			width: 100%;
		}

	}

	@media screen and (max-width: 736px) {

		.content.\31 25\25 {
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.content.\37 5\25 {
			width: 75%;
		}

		.content.\35 0\25 {
			width: 50%;
		}

		.content.\32 5\25 {
			width: 25%;
		}

		.content {
			width: 100% !important;
		}

	}

/* Main */

#main {
  /*margin-left: 375px;*/
}

#main > section {
  margin: 0;
  overflow: hidden;
  padding: 0;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
  text-align: center;
}

#main > section.cover strong {
  color: #fff;
  border-color: inherit;
}

#main > section.cover a {
  color: #fff;
  border-color: inherit;
}

#main > section.cover {
  padding: 6em 0;
  background-size: cover;
  background-position: center center;
}

#main > section.cover {
  background-color: #81918E;
  background-image: url("../../../images/canada.jpg");
}

#main > section.map {
  background-color: #f5fafa;
}

.maptitle {
  float: left;
  text-align: left !important;
}

/* Adjusting View based on size */

/*Wide*/
@media screen and (min-width: 961px) and (max-width: 1880px) {
  body, input, textarea, select {
    font-size: 17pt;
  }

}

/*Normal*/
@media screen and (min-width: 961px) and (max-width: 1620px) {
  #main > section {
    padding: 1em 0;
  }

  #main section.cover {
    padding: 1em 0;
  }
}

/*Narrow*/
@media screen and (min-width: 961px) and (max-width: 1320px) {
  body, input, textarea, select {
    font-size: 16pt;
  }
}

/*Very Narrow*/

@media screen and (max-width: 960px) {
  html, body {
    overflow-x: hidden;
    font-size: 16pt;
  }

  #main {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    padding-bottom: 1px;
    margin-left: 0;
  }

  #main > section {
    padding: 1em 0;
  }

  #main section.cover {
    padding: 1em 0;
  }
}

/* Mobile Sizing */

@media screen and (max-width: 736px) {

	body {
		font-size: 14pt;
	}

	h2 {
		font-size: 1.5em;
		letter-spacing: 0;
		font-weight: 300;
	}

	.content {
		padding: 0 15px 0 15px;
	}

	#main > section {
		padding: 2em 0;
	}

	#main section.cover {
		padding: 1em 0em;
	}

	#main section.cover header {
		padding: 0 1em;
	}
}

/* Dropdown */
.options {
  float: right;
  background-position: center center;
}
